/*!
 * Copyright (c) 2019 Exotic Matter SAS. All rights reserved.
 * Licensed under the MIT License. See LICENSE in the project root for license information.
 */

$em-purple: #313851;
$em-orange: #f99947;
$white-50: hsla(0,0%,100%,.5);
$white-75: hsla(0,0%,100%,.75);

$theme-colors: (
    "primary": lighten($em-purple, 28%),
    "secondary": #ced4da,
    "dark": $em-purple,
    "active": darken($em-orange, 10%),
    "light-gray": #6c757d,
    "dark-gray": #343a40
);

@import '../../node_modules/bootstrap/scss/bootstrap';

body {
    background: $light;
}

.highlight {
    color: map_get($theme-colors, 'active');
    font-weight: bold;
}

button svg {
    vertical-align: -0.125em;
}

.align-content-evenly {
    align-content: space-evenly;
}

.b-form-file label{
    white-space: nowrap;
    overflow: hidden;
}

.modal-backdrop {
opacity: .5;
}
